.audio {
    margin-top: 0;
    padding-top: 0;
}
.nav-var {
    display: table-cell;
    padding: 0 1em 0 0;
}

.main {
    display: table-cell;
}

.musicDescription {
    font-size: 0.80em;
}

#mobileNumber {
    display: none;
}

.yellow {
    background: yellow;
    color: red;
}

.tan {
    background: tan;
}

#address {
    color: #191970;
    font-size: 13pt;
    font-family: Calibri;
    font-size: 92%;
    background-image: url(/images/ocean.jpg);
    border: 1px solid #FFE4C4;
    border-radius: 2px;
    margin-top: 100px;
}

#light {
    width: 250px;
    height: 350px;
    float: right;
    padding: 0 0 0 1.5em;
}

#maxLength {
    font-size: 0.70em;
    text-align: right;
    color: green;
    display: block;
}

#charLimit {
    font-size: 0.70em;
    display: block;
    text-align: right;
    color: green;
    width: 82%;
}

#required {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin: 0 auto;
    max-width: 900px;
    min-width: 750px;
    width: 80%;
}

#submit {
    margin: 2em 0;
    background: #00BFFF;
    color: #191970;
}

#today {
    margin: 0;
    padding: 0;
}

body {
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    background: #00BFFF;
    background-image: url(/images/ocean.jpg);
    background-repeat: repeat-x;
}

caption {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    color: #191970;
    font-size: small;
    font-style: italic;
    text-align: center;
    background-image: url(/images/lighthouselogo1.jpg);
    background-repeat: repeat-x;
    height: 65px;
    margin: 3em auto;
    border: 1px solid #FFE4C4;
    border-radius: 6px;
    clear: both;
}

footer a {
    color: #191970;
}

fieldset {
    background: #E0E0E0;
    color: #191970;
}

header {
    text-align: center;
}

header h1 {
    height: 110px;
    padding: 30px 0 0 130px;
    background: url(/images/lighthouselogo.jpg) no-repeat left;
    border: 1px solid #FFE4C4;
    border-radius: 15px;
    color: #00008B;
}

h1 {
    color: #FFE4C4;
    line-height: 200%;
}

h3 {
    color: #FFE4C4;
}

main > form {
    width: 100%;
}


label {
    display: block;
    text-align: justify;
    clear: both;
    float: right;
    width: 100%;
}

input {
    margin-bottom: 1em;
}

li {
    color: #FFE4C4;
}

main p {
    clear: left;
}

nav {
    font-weight: bold;
    width: 200px;
}

.nav-var > ul {
    list-style-image: none;
    list-style-type: none;
}

.nav-var > ul > li > a {
    text-decoration: none;
}

.nav-var > ul > li {
    margin: 1em 0;
    list-style: none;
    text-decoration: none;
}

td img {
    width: 100px;
    height: 75px;
}

table {
    border-spacing: 0;
}

td {
    border: 1px solid #EAEAEA;
    text-align: center;
}

tr:nth-of-type(odd) {
    background: #A9A9A9;
}

tr td:nth-child(2) {
    text-align: justify;
}

th {
    background: #191970;
    color: #EAEAEA;
}

ul {
    list-style-image: url(/images/marker.gif);
}

.heading {
    display: none;
}

.text {
    display: none;
}

@media screen and (max-width: 64em) {
    body {
        margin: 0;
        /*    background: #FFFFFF; */
    }

    #number {
        display: none;
    }

    #mobileNumber {
        display: block;
    }

    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }

    main {
        margin-left: 0;
        display: block;
    }

    .nav-var {
        display: inline;
        width: auto;
        text-align: center;
    }

    .nav-var > ul {
        list-style-image: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .nav-var > ul > li {
        padding: 0 1em;
        display: inline;
    }

    .nav-var > ul > li > a {
        text-decoration: none;
    }


    #light {
        margin-bottom: 5px;
    }

    #address {
        margin: 1em 0;
        padding: 0;
        background-image: none;
        border: none;
        height: 5em;
    }

    .heading {
        display: none;
    }

    .text {
        display: none;
    }


}

@media screen and (max-width: 37.5em) {
    #address {
        margin: 1em 0 2em;
        padding: 0;
    }

    #light {
        display: none;
    }

    #number {
        display: none;
    }

    #mobileNumber {
        display: block;
    }

    header {
        padding-top: 1em;
    }

    main {
        padding: 0.1em 1em;
        font-size: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    label {
        text-align: justify;
    }

    .nav-var {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .nav-var > ul > li {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #FFE4C4;
    }

    .nav-var > ul > li:first-child {
        border-top: 1px solid #FFE4C4;
    }

    .nav-var > ul > li > a {
        display: block;
    }

    table {
        display: block;
        border: none;
    }

    caption {
        display: none;
    }

    .type {
        display: none;
        border: none;
        text-align: justify;
    }

    .description {
        display: none;
        border: none;
        text-align: justify;
    }

    .price {
        display: none;
        border: none;
        text-align: justify;
    }

    .image {
        display: none;
    }

    tr:nth-of-type(odd) {
        background: none;
    }


    th {
        display: none;
        border: none;
    }

    .heading {
        display: block;
    }

    .text {
        display: block;
    }


}
