#address {
    color: #191970;
    font-size: 13pt;
    font-family: Calibri;
    font-size: 92%;
    background-image: url(/images/ocean.jpg);
    box-sizing: border-box;
    border: solid 3px #FFE4C4;
    margin-top: 100px;
}

#light {
    width: 250px;
    height: 350px;
    float: right;
    clear: both;
    padding: 0 0 0 1.5em;
}

.pictures {
    float: right;
    width: 250px;
    height: 250px;
    clear: both;
}

.menu_offerings {
    color: #A52A2A;
    font-family: Calibri;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
}

#wrapper {
    margin: 0 auto;
    max-width: 900px;
    min-width: 750px;
    width: 80%;
}

body {
    background-color: #00BFFF;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(images/ocean.jpg);
    background-repeat: repeat-x;
}

dd {
    color: #221811;
}


dt {
    color: #FFE4C4;
    font-weight: bold;
}

footer {
    color: #191970;
    font-size: small;
    font-style: italic;
    text-align: center;
    background-image: url(images/lighthouselogo1.jpg);
    background-repeat: repeat-x;
    height: 35px;
    margin: 5em 0 0 0;
    border: 1px solid #FFE4C4;
    border-radius: 6px;
    clear: both;
}

footer a {
    color: #191970;
}

header {
    text-align: center;
}

header h1 {
    height: 110px;
    padding: 30px 0 0 130px;
    background-image: url(images/lighthouselogo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid;
    border-color: #FFE4C4;
    border-radius: 15px;
    color: #00008B;
}

h1 {
    color: #FFE4C4;
    line-height: 200%;
}

h3 {
    color: #FFE4C4;
    float: left;
}

li {
    color: #FFE4C4;
}

main {
    width: 45%;
}

nav {
    font-weight: bold;
    width: 200px;
    box-sizing: border-box;
    display: table;
}

nav > a {
    text-decoration: none;
}

ul {
    list-style-image: url(/images/marker.gif);
}
